# Build & Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE / Editor
.idea/
*.swp
*.swo
*~

# Sensitive
.env
.env.*
*.key
secrets/
*.pem

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
*.xcworkspace
!default.xcworkspace

# Carthage
Carthage/Build/
